html, body, #app {
  height: 100%;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.fw {
  width: 100%;
}

.fh {
  height: 100%;
}

.full {
  @extend .fw, .fh;
}

.fullFlexCenter {
  @extend .full, .flexCol;
  justify-content: center;
  align-items: center;
  .center {
    position: absolute;
    width: 300px;
    height: 300px;
    border: rgba(255,255,255,0.4) solid 2px;
  }
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;

  #app {
    .app {
      @extend .full, .flexRow;
      video {
        transition: .1s linear;
    }
      #Resolver {
        align-items: center;
        justify-content: center;
        .echelle {
          position: absolute;
          top: 365px;
          background-color: white;
          width: 5px;
          height: 3px;
        }
        canvas {
          border: 1px black solid;
        }
      }
    }
  }
}